html, body {
    height: 100vh;
}

header {
    background-color: gainsboro;
    padding: 0;
    margin: 0;
}

main {
    margin: 0;
}

footer {
    background-color: #F8F8F8;
}

.mono {
    font-family: monospace;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: greenyellow;
}

button {
    text-align: center;
    vertical-align: middle;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: Transparent;  // #F8
}

.button {
    border: 1px solid silver;
    border-radius: 5px;
}

a.button {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    background-color: whitesmoke;
    // margin: 1px;
    padding: 1px 2px;
}

img.svg {
    padding: 3px 5px;
    width: 16px;
}

img.svg32 {
    width: 32px;
}

button > img {
    margin: 0;
}

a > img {
    border: 1px solid silver;
    border-radius: 5px;
}

a:hover > img {
    background-color: greenyellow;
}
