{% extends "base.html" %}
{% block title %} ToDo entry add {% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <form action="" method="post" novalidate="">
        {{ form.csrf_token() }}
		<table>
            <caption> Add new ToDo </caption>
            {% for field in form if field.name != "csrf_token" %}
            <tr>
                <th>{{ field.label() }}</th>
                <td style="border: none;">
                {% if field.type != 'FormField' %}
                    <p>{{ field }}</p>
                    {% for error in field.errors %}
                        {{ error }}<br/>
                    {% endfor %}
                {% else %}
                    <table><tr>
                        <td> <p> {{ field.d }} </p> {% for error in field.d.errors %} {{ error }}<br/> {% endfor %} </td>
                        <td> <p> {{ field.t }} </p> {% for error in field.t.errors %} {{ error }}<br/> {% endfor %} </td>
                        <td> {{ field.msk }} </td>
                    </tr></table>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <p><input id="submit" name="submit" type="submit" value="Go"></p>
    </form>
{% endblock %}
